
<!DOCTYPE html>

<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->

<html lang="en" dir="ltr">

<head>
    <link  rel="stylesheet" href="~/Content/css/admin.css"/>
    <meta charset="UTF-8">

    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->

    <link rel="stylesheet" href="style.css">

    <!-- Boxicons CDN Link -->

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <style>

        .navmar {
            position: fixed;
            min-height: 50px;
            margin-bottom: 0px;
            border: 0px solid transparent;
            top: 0;
            width: 100%;
            z-index: 999;
        }
        /*.navbar navbar-inverse {
                position: fixed;
                min-height: 50px;
                margin-bottom: 20px;
                border: 1px solid transparent;
                top: 0;
                width: 100%;
                z-index: 999;
            }*/


        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }



        .sidebar {
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 78px;
            background: #11101D;
            padding: 6px 14px;
            z-index: 99;
            transition: all 0.5s ease;
        }



            .sidebar.open {
                width: 250px;
            }



            .sidebar .logo-details {
                height: 60px;
                display: flex;
                align-items: center;
                position: relative;
            }



                .sidebar .logo-details .icon {
                    opacity: 0;
                    transition: all 0.5s ease;
                }



                .sidebar .logo-details .logo_name {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 600;
                    opacity: 0;
                    transition: all 0.5s ease;
                }



            .sidebar.open .logo-details .icon,
            .sidebar.open .logo-details .logo_name {
                opacity: 1;
            }



            .sidebar .logo-details #btn {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                font-size: 22px;
                transition: all 0.4s ease;
                font-size: 23px;
                text-align: center;
                cursor: pointer;
                transition: all 0.5s ease;
            }



            .sidebar.open .logo-details #btn {
                text-align: right;
            }



            .sidebar i {
                color: #fff;
                height: 60px;
                min-width: 50px;
                font-size: 28px;
                text-align: center;
                line-height: 60px;
            }



            .sidebar .nav-list {
                margin-top: 20px;
                height: 100%;
            }



            .sidebar li {
                position: relative;
                margin: 8px 0;
                list-style: none;
            }



                .sidebar li .tooltip {
                    position: absolute;
                    top: -20px;
                    left: calc(100% + 15px);
                    z-index: 3;
                    background: #fff;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
                    padding: 6px 12px;
                    border-radius: 4px;
                    font-size: 15px;
                    font-weight: 400;
                    opacity: 0;
                    white-space: nowrap;
                    pointer-events: none;
                    transition: 0s;
                }



                .sidebar li:hover .tooltip {
                    opacity: 1;
                    pointer-events: auto;
                    transition: all 0.4s ease;
                    top: 50%;
                    transform: translateY(-50%);
                }



            .sidebar.open li .tooltip {
                display: none;
            }



            .sidebar input {
                font-size: 15px;
                color: #FFF;
                font-weight: 400;
                outline: none;
                height: 50px;
                width: 100%;
                width: 50px;
                border: none;
                border-radius: 12px;
                transition: all 0.5s ease;
                background: #1d1b31;
            }



            .sidebar.open input {
                padding: 0 20px 0 50px;
                width: 100%;
            }



            .sidebar .bx-search {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                font-size: 22px;
                background: #1d1b31;
                color: #FFF;
            }



            .sidebar.open .bx-search:hover {
                background: #1d1b31;
                color: #FFF;
            }



            .sidebar .bx-search:hover {
                background: #FFF;
                color: #11101d;
            }



            .sidebar li a {
                display: flex;
                height: 100%;
                width: 100%;
                border-radius: 12px;
                align-items: center;
                text-decoration: none;
                transition: all 0.4s ease;
                background: #11101D;
            }



                .sidebar li a:hover {
                    background: #FFF;
                }



                .sidebar li a .links_name {
                    color: #fff;
                    font-size: 15px;
                    font-weight: 400;
                    white-space: nowrap;
                    opacity: 0;
                    pointer-events: none;
                    transition: 0.4s;
                }



            .sidebar.open li a .links_name {
                opacity: 1;
                pointer-events: auto;
            }



            .sidebar li a:hover .links_name,
            .sidebar li a:hover i {
                transition: all 0.5s ease;
                color: #11101D;
            }



            .sidebar li i {
                height: 50px;
                line-height: 50px;
                font-size: 18px;
                border-radius: 12px;
            }



            .sidebar li.profile {
                position: fixed;
                height: 60px;
                width: 78px;
                left: 0;
                bottom: -8px;
                padding: 10px 14px;
                background: #1d1b31;
                transition: all 0.5s ease;
                overflow: hidden;
            }



            .sidebar.open li.profile {
                width: 250px;
            }



            .sidebar li .profile-details {
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
            }



            .sidebar li img {
                height: 45px;
                width: 45px;
                object-fit: cover;
                border-radius: 6px;
                margin-right: 10px;
            }



            .sidebar li.profile .name,
            .sidebar li.profile .job {
                font-size: 15px;
                font-weight: 400;
                color: #fff;
                white-space: nowrap;
            }



            .sidebar li.profile .job {
                font-size: 12px;
            }



            .sidebar .profile #log_out {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background: #1d1b31;
                width: 100%;
                height: 60px;
                line-height: 60px;
                border-radius: 0px;
                transition: all 0.5s ease;
            }



            .sidebar.open .profile #log_out {
                width: 50px;
                background: none;
            }



        .home-section {
            position: relative;
            background: #E4E9F7;
            min-height: 100vh;
            top: 0;
            left: 78px;
            width: calc(100% - 78px);
            transition: all 0.5s ease;
            z-index: 2;
        }



        .sidebar.open ~ .home-section {
            left: 250px;
            width: calc(100% - 250px);
        }



        .home-section .text {
            display: inline-block;
            color: #11101d;
            font-size: 15px;
            font-weight: 500;
        }





        .text {
            text-align: center;
            margin-top: 18%;
            margin-left: 18%;
        }

        .navmar {
        }



        .sidebar {
            margin-top: 52px;
            background-color: black;
        }

        .notification {
            background-color: #555;
            color: white;
            margin-top: 10px;
            text-decoration: none;
            padding: 5px 5px;
            position: relative;
            display: inline-block;
            border-radius: 8px;
        }

            .notification:hover {
                background: white;
            }

            .notification .badge {
                position: absolute;
                top: -10px;
                right: -10px;
                padding: 5px 10px;
                border-radius: 50%;
                background-color: White;
                color: Black;
            }
    </style>







</head>

<body style="background-color:Black">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <div class="navmar" style="">

        <div class="navbar navbar-inverse" style="background-color:black">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-12">



                        <div class="navbar-header">

                            <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>

                            <a href="/Admin/Admin" class="navbar-brand">LearninGo</a>

                        </div>



                        <div class="navbar-collapse collapse" id="mobile_menu">

                            <ul class="nav navbar-nav">

                                @*<li class="active"><a href="#">Home</a></li>*@

                                @*<li>

                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>

                                        <ul class="dropdown-menu">

                                            <li><a href="#">About One</a></li>

                                            <li><a href="#">About Two</a></li>

                                            <li><a href="#">About Three</a></li>

                                            <li><a href="#">About Four</a></li>

                                            <li><a href="#">About Five</a></li>

                                            <li><a href="#">About Six</a></li>

                                        </ul>

                                    </li>*@

                                @*<li><a href="#">Welcome</a></li>

                                    <li><a href="#">Services</a></li>*@

                                @*<li><a href="#">Gallery</a></li>

                                    <li><a href="#">Contact Us</a></li>*@

                            </ul>

                            @*<ul class="nav navbar-nav">

                                    <li>

                                        <form action="" class="navbar-form">

                                            <div class="form-group">

                                                <div class="input-group">

                                                    <input type="search" name="search" id="" placeholder="Search Anything Here..." class="form-control">

                                                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>

                                                </div>

                                            </div>

                                        </form>

                                    </li>

                                </ul>*@



                            <ul class="nav navbar-nav navbar-right" style="margin-top:0px;">

                                <a href="#" class="notification">
                                    <span>Inbox</span>
                                    <span class="badge">3</span>
                                </a>

                                <li><a href="#"><span class="glyphicon glyphicon-user" style="margin-right:-20px;"></span></a></li>



                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"></span>Profile<span class="caret"></span></a>

                                    <ul class="dropdown-menu">

                                        <li><a href="/Home/Index">Log Out</a></li>
                                        <li><a href="#">Setting</a></li>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="/Admin/ContactUs">Contact Us</a></li>

                                    </ul>

                                </li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <div class="progress-container" style="width: 100%; height: 8px; background: #ccc;margin-left:250px;margin-top:-20px;">
            <div class="progress-bar" id="myBar" style="height: 8px; background: #000000; width: 0%; "></div>
            <script>
                // When the user scrolls the page, execute myFunction
                window.onscroll = function () { myFunction() };

                function myFunction() {
                    var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
                    var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
                    var scrolled = (winScroll / height) * 100;
                    document.getElementById("myBar").style.width = scrolled + "%";
                }
            </script>
        </div>


    </div>



    <div class="nitesh">

        <div class="sidebar">

            <div class="logo-details">

                <i class='bx bxl-c-plus-plus icon'></i>

                <div class="logo_name">LearninGo</div>

                <i class='bx bx-menu' id="btn"></i>

            </div>

            <ul class="nav-list">

                @*<li>

                        <i class='bx bx-search'></i>

                        <input type="text" placeholder="Search...">

                        <span class="tooltip">Search</span>

                    </li>*@

                <li>
                    <a href="/Admin/Admin">
                        <i class='bx bx-grid-alt'></i>
                        <span class="links_name">Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>

                <li>
                    <a href="/Admin/InstructorIndex">
                        <i class='bx bx-user'></i>
                        <span class="links_name">Instructor</span>
                    </a>
                    <span class="tooltip">Instructor</span>
                </li>

                <li>
                    <a href=@Url.Action("StudentIndex", "Admin")>
                        <i class='bx bx-chat'></i>
                        <span class="links_name">Students</span>
                    </a>
                    <span class="tooltip">Students</span>

                </li>

                @*<li>

                        <a href=@Url.Action("Index", "Vehicles")>

                            <i class='bx bx-pie-chart-alt-2'></i>

                            <span class="links_name">Vehicle</span>

                        </a>

                        <span class="tooltip">Analytics</span>

                    </li>*@

                @*<li>

                        <a href=@Url.Action("Index", "Employees")>



                            <i class='bx bx-folder'></i>

                            <span class="links_name">Employee</span>

                        </a>



                        <span class="tooltip">Files</span>

                    </li>*@

                <li>

                    <a href="/Admin/CourseIndex">

                        <i class='bx bx-cart-alt'></i>

                        <span class="links_name">Course</span>

                    </a>

                    <span class="tooltip">Course</span>

                </li>

                <li>

                    <a href="/Admin/CourseCategory">

                        <i class='bx bx-heart'></i>

                        <span class="links_name">Category</span>

                    </a>

                    <span class="tooltip">Category</span>

                </li>

                @*<li>

                        <a href="#">

                            <i class='bx bx-cog'></i>

                            <span class="links_name">Setting</span>

                        </a>

                        <span class="tooltip">Setting</span>

                    </li>*@



            </ul>

        </div>





        <section class="home-section">



            <div class="text">@RenderBody();</div>

        </section>





        <script>

            let sidebar = document.querySelector(".sidebar");

            let closeBtn = document.querySelector("#btn");

            let searchBtn = document.querySelector(".bx-search");



            sidebar.classList.toggle("open");

            closeBtn.addEventListener("click", () => {

                sidebar.classList.toggle("open");

                menuBtnChange();//calling the function(optional)

            });



            searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search iocn

                sidebar.classList.toggle("open");

                menuBtnChange(); //calling the function(optional)

            });



            // following are the code to change sidebar button(optional)

            function menuBtnChange() {

                if (sidebar.classList.contains("open")) {

                    closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class

                } else {

                    closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");//replacing the iocns class

                }

            }

        </script>

    </div>

</body>



</html>
