
@{
    ViewBag.Title = "CorelDrawfullVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
   
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>CorelDrawVideo</h2>
    <hr />
    <iframe width="1000" height="600" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
    </iframe>

    <br />
    <br />
    <p>
        CorelDraw is one of the most popular graphics designing software available in market.
        This amazing designing Software meet the day-to-day demands of working designers.
        It is designed to edit two-dimensional images such as logos, posters etc.
        CorelDraw Graphics Suite software is available in the market and once installed in the computer,
        you can get easily start with your graphic designing work.
        There are lots of benefits of CorelDraw for Business as Corel draw is what you ask for,
        right from creating simple shapes and lines to complex ones which are used to create illustrations,
        clipart, logos etc.

        CorelDRAW Graphics Suite 2020,
        the newest and most innovative product from Corel,
        which includes all the top-rated & latest tools found in CorelDRAW Graphics Suite X8 and much more.
        Now you  can design with the latest technology, including advanced support for Microsoft Windows 10,
        Windows 8.1 and 7 along with multi-monitor viewing,
        4K displays & touch-device enhancements and much more.
        This latest graphics suite 2018 provides everything you need to deliver professional designing results with speed and confidence.
        You can buy CorelDRAW Graphics Suite 2020 license from CorelDraw Reseller India – Wroffy Technologies.
    </p>


    <div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width:100%">
                
            </div>
        </div>
    </div>

    <br>

    <button type="button" class="btn btn-Secondary btn-lg">@Html.ActionLink("Complete", "CourseCertificate", "Home")</button>

</body>
</html>



