
@{
    ViewBag.Title = "EthicalHackingDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">

    <!-- Box icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />

    <!-- Glidejs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css" />
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Boy’s T-Shirt - Codevo</title>
</head>

<body>


    <!-- Product Details -->
    <section class="section product-detail">
        <div class="details container-md">
            <div class="left">
                <div class="main">
                    <img src="~/Content/images/ethical hacking.jpg" alt="">
                </div>
                <div class="thumbnails">
                    <div class="thumbnail">
                        <img src="~/Content/images/images (2).jpg" alt="">
                    </div>
                    <div class="thumbnail">
                        <img src="~/Content/images/photos-2019-5-27-2-38-38.jpg" alt="">
                    </div>
                    <div class="thumbnail">
                        <img src="~/Content/images/images (7).jpg" alt="">
                    </div>
                    <div class="thumbnail">
                        <img src="~/Content/images/images (6).jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="right">
                <span>EthicalHacking</span>
                <h1>Hack The World</h1>
                <div class="price">Free</div>
                <form>
                    <div>
                        <select>
                            <option value="Select Level" selected disabled>Select Level</option>
                            <option value="1">Beginner</option>
                            <option value="2">Intermediate</option>
                            <option value="3">Advance</option>

                        </select>
                        <span><i class='bx bx-chevron-down'></i></span>
                    </div>
                </form>

                <form class="form">
                    <input type="text" placeholder="1">
                    <a href="List/Home" class="addCart">Add To Cart</a>
                </form>
                <h3>Course Detail</h3>
                <p>
                    You will be thought the Five Phases of Ethical Hacking and thought
                    how you can approach your target and succeed at breaking in every time!
                    The five phases include Reconnaissance,
                    Gaining Access,
                    Enumeration, Maintaining Access,
                    and covering your tracks.
                </p>
            </div>
        </div>
       
    </section>

    <!-- Related -->
    <section class="section featured">
        Training Options
        iLearn (Self-Study)
        This solution is an asynchronous,
        self-study environment which delivers EC-Council’s sought-after IT Security
        hacking training courses in a streaming video format.

        iWeek (Live Online)
        This solution is a live, online,
        instructor-led training course that you can attend
        with a live instructor from anywhere with an internet connection.

        Master Class
        This solution offers you the opportunity to learn from world-class
        instructors and the opportunity to collaborate with top Infosecurity professionals.
        MasterClass classes come with a slew of additional benefits including add-on certification training,
        local meet-up opportunities, and iLearn access.

        Training Partner (In Person)
        This solution offers in-person CEH training
        so that you can get the benefit of collaborating with your peers and gaining real-world skills,
        conveniently located at one of the hundreds of training centers authorized to teach EC-Council courses around the world.

        Education Partner (In Person or Online)
        This solution offers education courses through
        EC-Council Academia partnered institutions to benefit students enrolled in a college or university degree programs.
        <br>
        <br>





        <div class="right">
            <h1 style="text-align:right"> Content</h1>
        </div>
        <div class="grid-row reverse video-gallery">
            <input type="radio" value="1" name="video-list" id="video-1" checked="checked" /><label for="video-1">Introduction  <i class="fa fa-lock" style="font-size:16px"></i></label>
            <input type="radio" value="2" name="video-list" id="video-2" /><label for="video-2">Linux <i class="fa fa-lock" style="font-size:16px"></i> </label>
            <input type="radio" value="3" name="video-list" id="video-3" /><label for="video-3">Security  <i class="fa fa-lock" style="font-size:16px"></i></label>
            <input type="radio" value="4" name="video-list" id="video-4" /><label for="video-4">TroubleShooting  <i class="fa fa-lock" style="font-size:16px"></i></label>
            <input type="radio" value="5" name="video-list" id="video-5" /><label for="video-5">Sql Injection <i class="fa fa-lock" style="font-size:16px"></i></label>
            <input type="radio" value="6" name="video-list" id="video-6" /><label for="video-6">Network Hack<i class="fa fa-lock" style="font-size:16px"></i> </label>
            <!-- videos -->
            <!-- videos -->
                                                                           <div class="video video-1">
                                                                               <h4>Course Duration:05:00:00</h4>
                                                                               <h4> Instructor : Nitesh </h4>

                                                                           </div>

           

            
        </div>

        <br />
        <br />
        <br />


        <br />
        <br />
        <br />

        <br />
        <br />
        <br />

        <br />
        <br />
        <br />







        <br>
        <div class="top container">
            <h1>Related Products</h1>
            <a href="/Home/Product" class="view-more">View more</a>
        </div>

        <div class="product-center container">
            <div class="product">
                <div class="product-header">
                    <img src="~/Content/images/adobe illustrator.png" alt="">
                    <ul class="icons">
                        <span><i class="bx bx-heart"></i></span>
                        <span><i class="bx bx-shopping-bag"></i></span>
                        <span><i class="bx bx-search"></i></span>
                    </ul>
                </div>
                <div class="product-footer">
                    <a href="#"><h3>Adobe-Illustrator</h3></a>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bx-star"></i>
                    </div>
                    <h4 class="price">Free</h4>
                </div>
            </div>
            <div class="product">
                <div class="product-header">
                    <img src="~/Content/images/adobe photoshop.png" alt="">

                    <ul class="icons">
                        <span><i class="bx bx-heart"></i></span>
                        <span><i class="bx bx-shopping-bag"></i></span>
                        <span><i class="bx bx-search"></i></span>
                    </ul>
                </div>
                <div class="product-footer">
                    <a href="#"><h3>Adobe-photoShop</h3></a>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bx-star"></i>
                    </div>
                    <h4 class="price">Free</h4>
                </div>
            </div>
            <div class="product">
                <div class="product-header">
                    <img src="~/Content/images/artificial intelligence.jpg" alt="">

                    <ul class="icons">
                        <span><i class="bx bx-heart"></i></span>
                        <span><i class="bx bx-shopping-bag"></i></span>
                        <span><i class="bx bx-search"></i></span>
                    </ul>
                </div>
                <div class="product-footer">
                    <a href="#"><h3>Artificial-Intelligence</h3></a>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bx-star"></i>
                    </div>
                    <h4 class="price">Free</h4>
                </div>
            </div>
            <div class="product">
                <div class="product-header">
                    <img src="~/Content/images/data science.jpg" alt="">

                    <ul class="icons">
                        <span><i class="bx bx-heart"></i></span>
                        <span><i class="bx bx-shopping-bag"></i></span>
                        <span><i class="bx bx-search"></i></span>
                    </ul>
                </div>
                <div class="product-footer">
                    <a href="#"><h3>Data-Science</h3></a>
                    <div class="rating">
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bxs-star"></i>
                        <i class="bx bx-star"></i>
                    </div>
                    <h4 class="price">Free</h4>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <!-- Custom Script -->
    <script src="./js/index.js"></script>
</body>

</html>



