
@{
    ViewBag.Title = "CourseIndex";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@*Course Index*@


    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
            margin: 20px;
        }

        .price {
            color: grey;
            font-size: 22px;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

            .card button:hover {
                opacity: 0.7;
            }

        .text {
            font-size: 15px;
            font-weight: 500;
            margin-top: 80px;
            margin-left: 33px;
        }

        .button {
            border-radius: 8px;
        }
    </style>
}

<body style="margin-top:50px;">

    <h2 style="text-align:center">Course List</h2>

    <div style="display:flex;">
        <div class="card">
            <img src="~/Content/Images/adobe.jpg" alt="Denim Jeans" style="width:100%">
            <h3>Adobe Course</h3>
            <p class="price">$19.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
            <p><button class="button">View Course Details</button></p>
        </div>
        <div class="card">
            <img src="~/Content/Images/adobe.jpg" alt="Denim Jeans" style="width:100%">
            <h3>Adobe Course</h3>
            <p class="price">$29.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
            <p><button class="button">View Course Details</button></p>
        </div>
        <div class="card">
            <img src="~/Content/Images/adobe.jpg" alt="Denim Jeans" style="width:100%">
            <h3>Adobe Course</h3>
            <p class="price">$39.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
            <p><button class="button">View Course Details</button></p>
        </div>
        <div class="card">
            <img src="~/Content/Images/adobe.jpg" alt="Denim Jeans" style="width:100%">
            <h3>Adobe Course</h3>
            <p class="price">$59.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
            <p><button class="button">View Course Details</button></p>
        </div>
        <div class="card">
            <img src="~/Content/Images/adobe.jpg" alt="Denim Jeans" style="width:100%">
            <h3>Adobe Course</h3>
            <p class="price">$9.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
            <p><button class="button">View Course Details</button></p>
        </div>
    </div>

    <div style="display:flex;">
        <div class="card">
            <img src="~/Content/Images/adobe.jpg" alt="Denim Jeans" style="width:100%">
            <h3>Adobe Course</h3>
            <p class="price">$19.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
            <p><button class="button">View Course Details</button></p>
        </div>
        <div class="card">
            <img src="~/Content/Images/adobe.jpg" alt="Denim Jeans" style="width:100%">
            <h3>Adobe Course</h3>
            <p class="price">$29.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
            <p><button class="button">View Course Details</button></p>
        </div>
        <div class="card">
            <img src="~/Content/Images/adobe.jpg" alt="Denim Jeans" style="width:100%">
            <h3>Adobe Course</h3>
            <p class="price">$39.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
            <p><button class="button">View Course Details</button></p>
        </div>
        <div class="card">
            <img src="~/Content/Images/adobe.jpg" alt="Denim Jeans" style="width:100%">
            <h3>Adobe Course</h3>
            <p class="price">$59.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
            <p><button class="button">View Course Details</button></p>
        </div>
        <div class="card">
            <img src="~/Content/Images/adobe.jpg" alt="Denim Jeans" style="width:100%">
            <h3>Adobe Course</h3>
            <p class="price">$9.99</p>
            <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum.</p>
            <p><button class="button">View Course Details</button></p>
        </div>
    </div>
</body>