
@{
    ViewBag.Title = "InstructorIndex";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@*Instructor Index*@


    <style>

        .temp3 {
            background-color: lightgray;
            padding: 10px;
            margin: 10px;
            width: 330px;
            height: 330px;
            border-radius: 8px;
        }

        .row1 {
            display: flex;
            width: 100%;
            margin-left: -200px;
            margin-top: -150px;
        }

        .row2 {
            display: flex;
            width: 100%;
            margin-left: -200px;
            margin-top: 10px;
        }


        .card2 {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            width: 90%;
            height: 90%;
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .button5 {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
            border-radius: 8px;
        }

            .button5:hover, a:hover {
                opacity: 0.7;
            }

        .button-view-more {
            padding: 8px;
            background-color: #000;
            border-radius: 8px;
            font-size: 18px;
            width: 100%;
            cursor: pointer;
        }

        .button-view-more-text {
            color: white;
        }

        .Add-instructor {
            text-align: center;
            align-content: center;
            background-color: black;
            display: flex;
            width: fit-content;
            vertical-align: central;
            border-radius: 8px;
            margin-left: 300px;
        }

        .Add-instructor-button {
            margin-top: 20px;
            background-color: black;
            border-radius: 8px;
            width: 200px;
            height: 50px;
        }
    </style>
}


<body style="align-content:center;">

    <div class="row1">
        <div class="temp3">
            <div style="font-weight:bolder"><h>Popular Instructors</h></div>

            <div>
                <div>
                    <div class="card2">
                        <img src="~/Content/Images/profile.jpg" alt="instructor" style="width:45%; border-radius:50%">
                        <h1>Nitesh</h1>
                        <p class="title">Teacher</p>
                        <p>Jaipur, Rajasthan</p>

                        <div class="button-view-more">
                            <a class="button-view-more-text" href="/InstructorProfile/Index">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="temp3">
            <div style="font-weight:bolder"><h>Popular Instructors</h></div>

            <div>
                <div>
                    <div class="card2">
                        <img src="~/Content/Images/profile.jpg" alt="instructor" style="width:45%; border-radius:50%">
                        <h1>Nitesh</h1>
                        <p class="title">Teacher</p>
                        <p>Jaipur, Rajasthan</p>

                        <div class="button-view-more">
                            <a class="button-view-more-text" href="/InstructorProfile/Index">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="temp3">
            <div style="font-weight:bolder"><h>Popular Instructors</h></div>

            <div>
                <div>
                    <div class="card2">
                        <img src="~/Content/Images/profile.jpg" alt="instructor" style="width:45%; border-radius:50%">
                        <h1>Nitesh</h1>
                        <p class="title">Teacher</p>
                        <p>Jaipur, Rajasthan</p>
                        <div class="button-view-more">
                            <a class="button-view-more-text" href="/InstructorProfile/Index">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="temp3">
            <div style="font-weight:bolder"><h>Popular Instructors</h></div>

            <div>
                <div>
                    <div class="card2">
                        <img src="~/Content/Images/profile.jpg" alt="instructor" style="width:45%; border-radius:50%">
                        <h1>Nitesh</h1>
                        <p class="title">Teacher</p>
                        <p>Jaipur, Rajasthan</p>
                        <div class="button-view-more">
                            <a class="button-view-more-text" href="/InstructorProfile/Index">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row2">
        <div class="temp3">
            <div style="font-weight:bolder"><h>Popular Instructors</h></div>

            <div>
                <div>
                    <div class="card2">
                        <img src="~/Content/Images/profile.jpg" alt="instructor" style="width:45%; border-radius:50%">
                        <h1>Nitesh</h1>
                        <p class="title">Teacher</p>
                        <p>Jaipur, Rajasthan</p>
                        <div class="button-view-more">
                            <a class="button-view-more-text" href="/InstructorProfile/Index">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="temp3">
            <div style="font-weight:bolder"><h>Popular Instructors</h></div>

            <div>
                <div>
                    <div class="card2">
                        <img src="~/Content/Images/profile.jpg" alt="instructor" style="width:45%; border-radius:50%">
                        <h1>Nitesh</h1>
                        <p class="title">Teacher</p>
                        <p>Jaipur, Rajasthan</p>
                        <div class="button-view-more">
                            <a class="button-view-more-text" href="/InstructorProfile/Index">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="temp3">
            <div style="font-weight:bolder"><h>Popular Instructors</h></div>

            <div>
                <div>
                    <div class="card2">
                        <img src="~/Content/Images/profile.jpg" alt="instructor" style="width:45%; border-radius:50%">
                        <h1>Nitesh</h1>
                        <p class="title">Teacher</p>
                        <p>Jaipur, Rajasthan</p>
                        <div class="button-view-more">
                            <a class="button-view-more-text" href="/InstructorProfile/Index">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="temp3">
            <div style="font-weight:bolder"><h>Popular Instructors</h></div>

            <div>
                <div>
                    <div class="card2">
                        <img src="~/Content/Images/profile.jpg" alt="instructor" style="width:45%; border-radius:50%">
                        <h1>Nitesh</h1>
                        <p class="title">Teacher</p>
                        <p>Jaipur, Rajasthan</p>
                        <div class="button-view-more">
                            <a class="button-view-more-text" href="/InstructorProfile/Index">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Add-instructor">
        <a class="Add-instructor-button" href="/InstructorProfile/Index">Add New Instructor</a>
    </div>




</body>



