
@{
    ViewBag.Title = "Dashbord";
    Layout = "~/Views/Shared/_Instructor.cshtml";
}




<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="csrf-token" content="ULv99CnsOxY0Uu2tO2zfaM8R16KfisiqTbWJVX9C">

    <meta name="keywords"
          content="Course LMS">

    <meta name="description" content="Course LMS">

    <meta name="author" content="Course LMS">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <meta name="copyright" content="Course LMS">

    <meta name="subject" content="Course LMS 3.5">

    <title>dashbord</title>

    <!-- Favicon -->

    <link rel="icon" sizes="16x16" href="https://www.demo.courselms.com/public/uploads/site/icon.png">

    <!-- Start css -->

    <link href="https://www.demo.courselms.com/public/assets/plugins/select2/select2.css" rel="stylesheet" type="text/css">

    <!-- Apex css -->

    <link href="https://www.demo.courselms.com/public/assets/plugins/apexcharts/apexcharts.css" rel="stylesheet">

    <!-- Summernote css -->

    <link href="https://www.demo.courselms.com/public/assets/plugins/summernote/summernote-bs4.css" rel="stylesheet">

    <!-- Start css -->
    <!-- Switchery css -->

    <link href="https://www.demo.courselms.com/public/assets/plugins/switchery/switchery.css" rel="stylesheet">

    <!-- Slick css -->

    <link href="https://www.demo.courselms.com/public/assets/plugins/slick/slick.css" rel="stylesheet">

    <link href="https://www.demo.courselms.com/public/assets/plugins/slick/slick-theme.css" rel="stylesheet">

    <link href="https://www.demo.courselms.com/public/assets/plugins/pnotify/css/pnotify.custom.css" rel="stylesheet" type="text/css">

    <link href="https://www.demo.courselms.com/public/assets/plugins/colorpicker/bootstrap-colorpicker.css" rel="stylesheet" type="text/css">

    <link href="https://www.demo.courselms.com/public/css/dropify.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://www.demo.courselms.com/public/asset_rumbok/css/icofont.css">



    <link href="https://www.demo.courselms.com/public/assets/css/bootstrap.css" rel="stylesheet" type="text/css">



    <link href="https://www.demo.courselms.com/public/assets/css/icons.css" rel="stylesheet" type="text/css">

    <link href="https://www.demo.courselms.com/public/assets/css/flag-icon.css" rel="stylesheet" type="text/css">

    <link href="https://www.demo.courselms.com/public/assets/css/style.css" rel="stylesheet" type="text/css">

    <link href="https://www.demo.courselms.com/public/assets/css/custom.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://www.demo.courselms.com/public/assets/css/video-js.css">

    <!-- End css -->

    <link rel="stylesheet" type="text/css" href="https://www.demo.courselms.com/public/vendor/mckenziearts/laravel-notify/css/notify.css" />



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">





</head>

<body style="margin-left:20%">





    <!-- Start Containerbar -->
    <!-- Start Breadcrumbbar -->
    <!-- End Breadcrumbbar -->
    <!-- Start Contentbar -->

    <div class="contentbar">



        <!-- Start row -->

        <div class="row">

            <!-- Start col -->

            <div class="col-lg-12 col-xl-8">

                <!-- Start row -->

                <div class="row">



                    <div class="col-lg-12 col-xl-4">

                        <div class="card m-b-30">

                            <div class="card-body">

                                <div class="row align-items-center">

                                    <div class="col-7">

                                        <h4>0.00$</h4>

                                        <p class="font-14 mb-0">This Month Revenue</p>

                                    </div>

                                    <div class="col-5 text-right">

                                        <div id="apex-area3-chart"></div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-12 col-xl-4">

                        <div class="card m-b-30">

                            <div class="card-body">

                                <div class="row align-items-center">

                                    <div class="col-7">

                                        <h4>0.00$</h4>

                                        <p class="font-14 mb-0">Last Month Revenue</p>

                                    </div>

                                    <div class="col-5 text-right">

                                        <div id="apex-area2-chart"></div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-12 col-xl-4">

                        <div class="card m-b-30">

                            <div class="card-body">

                                <div class="row align-items-center">

                                    <div class="col-7">

                                        <h4>0.00$</h4>

                                        <p class="font-14 mb-0">Total <br> Revenue </p>

                                    </div>

                                    <div class="col-5 text-right">

                                        <div id="apex-area1-chart"></div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- End col -->

                    <div class="col-lg-12 col-xl-12">

                        <div class="card m-b-30">

                            <div class="card-header">

                                <div class="row align-items-center">

                                    <div class="col-9">

                                        <h5 class="card-title mb-0">Status</h5>

                                    </div>

                                </div>

                            </div>

                            <div class="card-body crm-tab-widget">

                                <div class="row align-items-center">

                                    <div class="col-12 col-sm-5">

                                        <div class="nav flex-column nav-pills" id="v-pills-ticket-tab" role="tablist"
                                             aria-orientation="vertical">

                                            <a class="nav-link" id="v-pills-sales-tab" data-toggle="pill"
                                               href="#v-pills-sales" role="tab" aria-controls="v-pills-sales"
                                               aria-selected="false">

                                                <i class="feather icon-circle font-12 mr-1"></i>Courses<span class="float-right font-14 text-muted">10</span>

                                            </a>

                                            <a class="nav-link" id="v-pills-product-tab" data-toggle="pill"
                                               href="#v-pills-product" role="tab" aria-controls="v-pills-product"
                                               aria-selected="false">

                                                <i class="feather icon-circle font-12 mr-1"></i>Students<span class="float-right font-14 text-muted">

                                                    1

                                                </span>

                                            </a>

                                            <a class="nav-link" id="v-pills-hiring-tab" data-toggle="pill"
                                               href="#v-pills-hiring" role="tab" aria-controls="v-pills-hiring"
                                               aria-selected="false">

                                                <i class="feather icon-circle font-12 mr-1"></i>Enrollments<span class="float-right font-14 text-muted">7</span>

                                            </a>

                                        </div>

                                    </div>

                                    <div class="col-12 col-sm-7 p-0">

                                        <div class="tab-content" id="v-pills-ticket-tabContent">



                                            <div class="tab-pane fade show active" id="v-pills-sales" role="tabpanel"
                                                 aria-labelledby="v-pills-sales-tab">

                                                <div id="apex-operation-course-chart"></div>

                                            </div>

                                            <div class="tab-pane fade" id="v-pills-product" role="tabpanel"
                                                 aria-labelledby="v-pills-product-tab">

                                                <div id="apex-operation-student-chart"></div>

                                            </div>

                                            <div class="tab-pane fade" id="v-pills-hiring" role="tabpanel"
                                                 aria-labelledby="v-pills-hiring-tab">

                                                <div id="apex-operation-enroll-chart"></div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- End col -->

                </div>

            </div>



            <!-- End col -->

        </div>

        <!-- End row -->



        <div class="card m-b-30">

            <div class="card-header">

                <div class="row align-items-center">

                    <div class="col-9">

                        <h5 class="card-title mb-0">This Year Revenue</h5>

                    </div>

                </div>

            </div>

            <div class="card-body pl-0 py-0">

                <div id="a-bar-chart"></div>

            </div>





        </div>







        <!-- End Contentbar -->
        <!-- Start Footerbar -->
        <!-- End Footerbar -->
        <!--Modal or Delete Modal-->

        <div class="modal fade " id="show-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">

                        <h5 class="modal-title" id="title">New message</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                            <span aria-hidden="true">×</span>

                        </button>

                    </div>

                    <div class="modal-body shadow" id="show-form">

                    </div>

                </div>

            </div>

        </div>







        <div class="modal fade custom-modal" id="show-media-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div class="modal-header">

                        <h5 class="modal-title" id="title">New message</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                            <span aria-hidden="true">×</span>

                        </button>

                    </div>

                    <div class="modal-body shadow" id="show-media-form">

                    </div>

                </div>

            </div>

        </div>

        <script type="text/javascript">

            "use strict"

            function confirm_modal(delete_url) {

                jQuery('#confirm-delete').modal('show', { backdrop: 'static' });

                document.getElementById('delete_link').setAttribute('href', delete_url);

            }

        </script>





        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">

            <div class="modal-dialog" role="document">

                <div class="modal-content">

                    <div class="modal-header">

                        <h5 class="modal-title" id="myModalLabel">Confirmation</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>

                    </div>

                    <div class="modal-body">

                        <p>Delete confirmation message</p>

                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        <a id="delete_link" href="#" type="submit" class="btn btn-danger">Delete</a>

                    </div>

                </div>

            </div>

        </div>





        <div id="mySidenav" class="sidenav shadow rounded">

            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

            <div id="master_media_section"></div>

        </div>



        <input type="hidden" value="https://demo.courselms.com" id="domain_name">



    </div>

    <!-- End Rightbar -->
    <!-- End Containerbar -->
    <!-- Start js -->

    <script src="https://www.demo.courselms.com/public/assets/js/jquery.js"></script>

    <script src="https://www.demo.courselms.com/public/assets/js/popper.js"></script>

    <script src="https://www.demo.courselms.com/public/assets/js/bootstrap.js"></script>

    <script src="https://www.demo.courselms.com/public/assets/js/modernizr.js"></script>

    <script src="https://www.demo.courselms.com/public/assets/js/detect.js"></script>

    <script src="https://www.demo.courselms.com/public/assets/js/jquery.slimscroll.js"></script>

    <script src="https://www.demo.courselms.com/public/assets/js/vertical-menu.js"></script>

    <!-- Switchery js -->

    <script src="https://www.demo.courselms.com/public/assets/plugins/switchery/switchery.js"></script>

    <script src="https://www.demo.courselms.com/public/assets/js/custom/custom-switchery.js"></script>

    <!-- Apex js -->

    <script src="https://www.demo.courselms.com/public/assets/plugins/apexcharts/apexcharts.js"></script>

    <script src="https://www.demo.courselms.com/public/assets/plugins/apexcharts/irregular-data-series.js"></script>

    <!-- Chart js -->

    <script src="https://www.demo.courselms.com/public/assets/plugins/chart.js/chart.js"></script>

    <script src="https://www.demo.courselms.com/public/assets/plugins/chart.js/chart-bundle.js"></script>

    <script src="https://www.demo.courselms.com/public/assets/js/custom/custom-chart-chartjs.js"></script>

    <!-- Slick js -->

    <script src="https://www.demo.courselms.com/public/assets/plugins/slick/slick.js"></script>

    <!-- Select2 js -->

    <script src="https://www.demo.courselms.com/public/assets/plugins/select2/select2.js"></script>

    <!-- Summernote JS -->

    <script src="https://www.demo.courselms.com/public/assets/plugins/summernote/summernote-bs4.js"></script>



    <!-- Pnotify js -->

    <script src="https://www.demo.courselms.com/public/assets/plugins/pnotify/js/pnotify.custom.js"></script>

    <script src="https://www.demo.courselms.com/public/assets/plugins/colorpicker/bootstrap-colorpicker.js"></script>

    <script src="https://www.demo.courselms.com/public/assets/js/custom/custom-pnotify.js"></script>







    <!-- Custom Dashboard js -->

    <script src="https://www.demo.courselms.com/public/assets/js/custom/custom-dashboard.js"></script>

    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->

    <script src="https://www.demo.courselms.com/public/assets/js/videojs-ie8.min.js"></script>

    <script src="https://www.demo.courselms.com/public/assets/js/video.js"></script>

    <script src="https://www.demo.courselms.com/public/js/dropify.js"></script>

    <!-- Core js -->

    <script src="https://www.demo.courselms.com/public/assets/js/core.js"></script>

    <script src="https://www.demo.courselms.com/public/assets/js/script.js"></script>





    <!-- End js -->



    <script>



        var notify = {

            timeout: "5000",

            animatedIn: "bounceInRight",

            animatedOut: "bounceOutRight",

            position: "top-right"

        }



    </script>



    <script type="text/javascript" src="https://www.demo.courselms.com/public/vendor/mckenziearts/laravel-notify/js/notify.js"></script>

    <script>

        "use strict"

        /* -----  Apex Bar Chart ----- */

        var options = {

            chart: {

                height: 300,

                type: 'bar',

                toolbar: {

                    show: false

                }

            },

            plotOptions: {

                bar: {

                    horizontal: false,

                    columnWidth: '25%',

                    endingShape: 'rounded'

                },

            },

            dataLabels: {

                enabled: false

            },

            stroke: {

                show: true,

                width: 2,

                colors: ['transparent']

            },

            colors: ['#506fe4'],

            series: [{

                name: 'Earning',

                // data: [44, 55, 57, 56]

                data: ['0',

                    '0',

                    '0',

                    '0',

                    '0',

                    '0',

                    '0',

                    '0',

                    '0',

                    '0',

                    '0',

                ]

            }],

            legend: {

                show: false,

            },

            xaxis: {

                // categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],

                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov',],

                axisBorder: {

                    show: true,

                    color: 'rgba(0,0,0,0.05)'

                },

                axisTicks: {

                    show: true,

                    color: 'rgba(0,0,0,0.05)'

                }

            },

            grid: {

                row: {

                    colors: ['transparent', 'transparent'], opacity: .2

                },

                borderColor: 'rgba(0,0,0,0.05)'

            },

            fill: {

                opacity: 1,

            },

            tooltip: {

                y: {

                    formatter: function (val) {

                        return "$ " + val

                    }

                }

            }

        }

        var chart = new ApexCharts(

            document.querySelector("#a-bar-chart"),

            options

        );

        chart.render();



        /* ----- Apex Operation Status1 Chart ----- */

        var options = {

            chart: {

                height: 260,

                type: 'radialBar',

                offsetY: -10

            },

            plotOptions: {

                radialBar: {

                    startAngle: -135,

                    endAngle: 135,

                    dataLabels: {

                        name: {

                            fontSize: '18px',

                            fontFamily: 'Mukta Vaani',

                            color: '#8A98AC',

                            offsetY: 120

                        },

                        value: {

                            offsetY: 76,

                            fontSize: '24px',

                            fontFamily: 'Mukta Vaani',

                            color: '#141d46',

                            formatter: function (val) {

                                return val;

                            }

                        }

                    }

                }

            },

            fill: {

                type: 'gradient',

                gradient: {

                    shade: 'dark',

                    shadeIntensity: 0.15,

                    inverseColors: false,

                    opacityFrom: 1,

                    opacityTo: 1,

                    stops: [0, 50, 65, 91]

                },

            },

            stroke: {

                dashArray: 4

            },

           colors: ["#506fe4"],

            series: [10],

            labels: ['Total Courses'],

        }

        var chart = new ApexCharts(

            document.querySelector("#apex-operation-course-chart"),

            options

        );

        chart.render();



        /* ----- Apex Operation Status2 Chart ----- */

        var options = {

            chart: {

                height: 260,

                type: 'radialBar',

                offsetY: -10

            },

            plotOptions: {

                radialBar: {

                    startAngle: -135,

                    endAngle: 135,

                    dataLabels: {

                        name: {

                            fontSize: '18px',

                            fontFamily: 'Mukta Vaani',

                            color: '#8A98AC',

                            offsetY: 120

                        },

                        value: {

                            offsetY: 76,

                            fontSize: '24px',

                            fontFamily: 'Mukta Vaani',

                            color: '#141d46',

                            formatter: function (val) {

                                return val;

                            }

                        }

                    }

                }

            },

            fill: {

                type: 'gradient',

                gradient: {

                    shade: 'dark',

                    shadeIntensity: 0.15,

                    inverseColors: false,

                    opacityFrom: 1,

                    opacityTo: 1,

                    stops: [0, 50, 65, 91]

                },

            },

            stroke: {

                dashArray: 4

            },

            colors: ["#506fe4"],

            series: [7],

            labels: ['Total Enrollments'],

        }

        var chart = new ApexCharts(

            document.querySelector("#apex-operation-enroll-chart"),

            options

        );

        chart.render();





        /* ----- Apex Operation Status4 Chart ----- */

        var options = {

            chart: {

                height: 260,

                type: 'radialBar',

                offsetY: -10

            },

            plotOptions: {

                radialBar: {

                    startAngle: -135,

                    endAngle: 135,

                    dataLabels: {

                        name: {

                            fontSize: '18px',

                            fontFamily: 'Mukta Vaani',

                            color: '#8A98AC',

                            offsetY: 120

                        },

                        value: {

                            offsetY: 76,

                            fontSize: '24px',

                            fontFamily: 'Mukta Vaani',

                            color: '#141d46',

                            formatter: function (val) {

                                return val;

                            }

                        }

                    }

                }

            },

            fill: {

                type: 'gradient',

                gradient: {

                    shade: 'dark',

                    shadeIntensity: 0.15,

                    inverseColors: false,

                    opacityFrom: 1,

                    opacityTo: 1,

                    stops: [0, 50, 65, 91]

                },

            },

            stroke: {

                dashArray: 4

            },

            colors: ["#506fe4"],

            series: [1],

            labels: ['Total Student'],

        }

        var chart = new ApexCharts(

            document.querySelector("#apex-operation-student-chart"),

            options

        );

        chart.render();



    </script>



    <script>

        $(document).ready(function () {



            "use strict"



            try {

                $.post('https://www.demo.courselms.com/dashboard/media/manager/slide', { _token: 'ULv99CnsOxY0Uu2tO2zfaM8R16KfisiqTbWJVX9C' }, function (data) {

                    $('#master_media_section').html(data);

                });

            } catch (error) {

                location.reload();

            }





        });



        $('.dropify').dropify();



        $('#datetimepicker1').datetimepicker();



    </script>



</body>

</html>



