input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 2px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: black;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: gray;
    }

/* Add a background color and some padding around the form */
.container {
    border-radius: 8px;
    background-color: black;
    padding: 20px;
    width: 500px;
    margin-top: -200px;
}

.MainDiv {
    width: 100%;
    height: fit-content;
}

temp3 {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    width: 350px;
    height: 350px;
    border-radius: 8px;
}
